/* No item placeholder */
div.noItemInCartPlaceHolder {
  display: flex;
  padding-top: 10mm;
  justify-content: center;
  padding-bottom: 10mm;
}

/* Cards */
div.capacity-card-body {
  height: 210mm;
  width: 297mm;
  padding: 0mm;
  margin: 0mm;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.columnsHeader {
  margin: 5mm 0mm 0mm 5mm;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  width: calc((33mm + 2px) * 8);
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
}

input.columnHeaderText {
  width: 122px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 10px;
  font-family: Georgia;
}

div.card-inside{
  margin: 0mm 5mm 5mm 5mm;
  padding: 0mm;
  display: flex;
  justify-content: center;
  width: 281mm;
  height: 194mm;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
}

/* Card */
div.capacity-card {
  height: calc(38mm + 2px);
  width: calc(33mm + 2px);
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}