@font-face {
    font-family: "Georgia";
    src: url("/css/fonts/georgia.woff2") format("woff2"),
         url("/css/fonts/georgia-bold.woff2") format("woff2");
}
@font-face {
    font-family: "sage-sans";
    src: url("/css/fonts/sagesans-regular.woff2") format("woff2");
}
@font-face {
    font-family: "Ferox";
    src: url("/css/fonts/ferox.woff2") format("woff2");
}

div.body-container {
    width: calc(100vw - 30px);
}

div.headers {
    display: inline;
}

/* Banner */
div.banner {
    background-image: url("../images/ui/banner-texture.png");
    background-repeat: repeat;
    background-color:#D3D3D3;
    border-radius: 12px 12px 0px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100px;
}
img.banner {
    background-color:white;
    margin-top: 3px;
    align-content: center;
    width: auto;
    height: 95px;
    border-radius: 6px;
}
a.banner {
    position: absolute;
    left: 15px;
    top: 20px;
    margin-top: 2px;
    color: #231107; 
    background-color:white;
    border-radius: 6px;
    padding: 3px;
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Times New Roman';
}

/* Menu bar */
div.menuBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    background-color: white;
    box-sizing: content-box;
}
div.menuGroup {
    display: block;
    width: 100%;
    position: relative;
    box-sizing: content-box;
}

div.visibleMenu {
    display: block;
    width: 100%;
    box-sizing: content-box;
}

div.menuGroup:hover div.hiddenMenuGroup{
    display: block;
}

div.hiddenMenuGroup {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100000;
    box-sizing: content-box;
}

div.menuItem {
    display: block;
    width: 100%;
    box-sizing: content-box;
}

a.menuItem {
    display: block;
    color: white;
    background-color:grey;
    min-width: 100%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    text-decoration:none;
    font-size: 20px;
    font-family: "Courrier new";
    padding-top: 4px;
    padding-bottom: 4px;
    box-sizing: content-box;
    line-height: 1;
}

a.menuItem:hover {
    background-color:rgb(114, 114, 114);
    color: white;
    /* color: rgb(221, 221, 221); */
    text-decoration:none;
    box-sizing: content-box;
}

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

a.menuItemSelected {
    line-height: 1;
    color: white;
    background-color:rgb(94, 93, 93);
    width: 100%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    text-decoration:none;
    font-size: 20px;
    font-family: "Courrier new";
    padding-top: 4px;
    padding-bottom: 4px;
    box-sizing: content-box;
    display: block;
}

a.menuItemSelected:hover {
    background-color:rgb(94, 93, 93);
    color: white;
    text-decoration:none;
    box-sizing: content-box;
}

/* Icons bar */
div.iconBarBox {
    display: inline;
}

div.iconBar{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 1px 2px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 1000;
    background-color:#F8F9F9;
    border-color: #41270C;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    border-radius: 4px;
    height: 42px;
    margin-bottom: 2px;
}

/* Defaults */
.defaultIcon>input {
    display: none;
}

div.defaultIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

a.defaultIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

label.defaultIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

img.defaultIcon {
    width: 38px;
    height: 38px;
    padding: 0px;
    margin: 0px;
}

/* - fakeIndentRight */
div.fakeIndentRightIcon {
    position: relative;
    margin-left: auto;
}

/* - Reset */

/* - Trash */
div.trashArea {
    position: absolute;
    top: 0px;
    width: 50px;
    max-width: 100px;
    min-width: 100px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
}

/* - load-json */
div.loadJson>input {
    display: none;
}
/* - save-json */

/* - save-svg */

/* - cart */
div.cartIcon {
    position: relative;
    background-image: url("../images/ui/cart.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 42px;
    height: 42px;
}
span.cartIcon{
    font-family: 'Arial';
    position: absolute;
    font-size: 8px;
    width: 13px;
    height: 9px;
    bottom: 13px;
    right: 5px;
    text-align: center;
    font-weight: bolder;
    color:#417505;
}

/*Help*/

div.help{
    background-color: white;
    position: absolute;
    top: 180px;
    right: 0px;
    margin: 8px 22px 8px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    max-width: 500px;
    z-index: 999;
}