<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv=“Pragma” content=”no-cache”>
        <meta http-equiv=“Expires” content=”-1″>
        <meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js-ext/vue.js"></script>
        <script src="js-ext/marked.min.js"></script>
        <script src="js-ext/sjcl.js" defer></script>
        <script src="js-ext/ajv.min.js" defer></script>
        <script src="js-ext/stringops.js" defer></script>
        <!-- <script src="js-ext/html2canvas.min.js" defer></script> -->
        <!-- <script src="js-ext/html2canvas.js" defer></script> -->
        <script src="js-ext/html-to-image.js" defer></script>
        <script src="js-ext/download.min.js" defer></script>
        <script src="js/config.js" defer></script>
        <script src="js/headers-config.js" defer></script>
        <script src="js/footers-config.js" defer></script>
        <script src="js/tools.js" defer></script>
        <script src="js/headers.js" defer></script>
        <script src="js/footers.js" defer></script>
        <script src="js/valueTokens.js" defer></script>
        <script src="js/propertyTokens.js" defer></script>
        <script src="js/thing.js" defer></script>
        <script src="js/cards-thing.js" defer></script>
        <link rel="icon" type="image/png" href="images/common/favicon.png">
        <link rel="stylesheet" type="text/css" href="css/headers.css">
        <link rel="stylesheet" type="text/css" href="css/footers.css">
        <link rel="stylesheet" type="text/css" href="css/tokens.css">
        <link rel="stylesheet" type="text/css" href="css/thing.css">
        <link rel="stylesheet" type="text/css" href="css/cards-thing.css">
        <link rel="stylesheet" type="text/css" href="css/print-thing.css" media="print">
        <title>Chroniques Oubliées Fantasy, version Naruto</title>
    </head>
    <body>
        <div class="body-container">
            <div class="headers" id="headers">
                <banner></banner>
                <menu-bar></menu-bar>
                <menu-icons></menu-icons>
            </div>
            <div id="cards">
                <div v-if="displayNoItemInCartPlaceHolder" class="noItemInCartPlaceHolder notprintable">
                    Veuillez ajouter des objets dans le panier pour générer leurs cartes.
                </div>
                <div v-else class="thing-card-body page-break" v-for="page in cartPage">
                    <div class="card-inside">
                        <div v-bind:id="item.id" class="thing-card" v-for="item in page" 
                                v-bind:key="item.id" draggable="true"
                                v-on:dragstart="startDrag($event, item)" 
                                v-on:drop="onDrop($event, item)" 
                                v-on:dragover.prevent v-on:dragenter.prevent 
                                v-on:click.right.prevent="displayContextMenu($event, item)"
                                v-on:mouseleave="hideContextMenu()" ref="'contextmenu'+item.id">
                            <div v-bind:id="'contextmenu'+item.id" v-if="showContextMenu == item.id" class="contextMenu"
                                    v-on:mouseleave="hideContextMenu()" v-bind:style="{top:contextmenuY+'px', left:contextmenuX+'px'}">
                                <a v-bind:href="dataUri" download="image.svg" class="contextMenu"
                                    v-on:click="saveAsImage(item)">Save as png</a>
                            </div>
                            <thing v-bind:item="item" v-bind:items="items" ></thing>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footers">
                <footer-banner></footer-banner>
            </div>
        </div>
    </body>
</html>